AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
BreakConstructorInitializers : BeforeColon
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments : true
IncludeBlocks: Regroup
IncludeCategories:
  # Headers in "" with extension and without /.
  - Regex:           '"([A-Za-z0-9._])+"'
    Priority:        1
  # Headers in "" with extension and with /.
  - Regex:           '"([A-Za-z0-9.\/-_])+"'
    Priority:        2
  # Headers in <> from specific external libraries.
  - Regex:           '<((boost))\/([A-Za-z0-9.\/-_])+>'
    Priority:        3
  # Headers in <> without extension.
  - Regex:           '<([A-Za-z0-9\/-_])+>'
    Priority:        4
  # Headers in <> with extension.
  - Regex:           '<([A-Za-z0-9.\/-_])+>'
    Priority:        5
IndentWidth: 4
Language: Cpp
SpacesInAngles: true
SpacesInParentheses: true
Standard: Cpp11
TabWidth: 4
UseTab: Never
