BasedOnStyle: LLVM
---
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers : BeforeColon
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle : true
FixNamespaceComments : true
IncludeBlocks: Regroup
IncludeCategories:
  # aster main header
  - Regex:           '^"aster[cx]*.h"$'
    Priority:        -1
  # Headers in "" with extension and without /.
  - Regex:           '"([a-z0-9\._])+"'
    Priority:        3
  # Headers in "" with extension and with /.
  - Regex:           '"([a-z0-9\./\-_])+"'
    Priority:        4
  # Headers in <> without extension.
  - Regex:           '<([a-z0-9/\-_])+>'
    Priority:        5
  # Headers in <> with extension.
  - Regex:           '<([a-z0-9\./\-_])+>'
    Priority:        6
IndentWidth: 4
Language: Cpp
SpacesInAngles: true
SpacesInParentheses: true
SpacesInSquareBrackets: false
SpaceBeforeCpp11BracedList: true
SpacesInCStyleCastParentheses: false
Standard: Cpp11
TabWidth: 4
UseTab: Never
