*.o
*.mod
*.pyc
*.bak
*.orig
*.gcov
logs/*
build/
.waf?-*/
.lock-*
.hgignore
.yamm/
waf_*
*~
*%
**/fort.*
glob.*
vola.*

.hg*
.jenkins*
.vscode/*
devtools
.idea/*
.env*
install_*.log
tmp_b*
med_aster_module.c.1.dll.manifest
tmp_blink.bat
build*/
temp/
.vs
*pick.code_aster*
code_aster/pkginfo.py
conda/test_file.py
.pixi/
build/*
build-cmake/*
output/
test_output/