*.o
*.mod
*.pyc
*.bak
*.orig
*.gcov

build/
.waf?-*/
.lock-*
.hgignore
.yamm/
waf_*
*~
*%
**/fort.*
glob.*
vola.*
*.env

.hg*
.jenkins*
.vscode/*
devtools

code_aster/pkginfo.py

# pixi/uv environments
.pixi
.venv
*.egg-info
pixi.lock
uv.lock
