*.o
*.mod
*.pyc
*.bak
*.orig
*.gcov

build/
.waf?-*/
.lock-*
.hgignore
.yamm/
waf_*
*~
*%
**/fort.*
glob.*
vola.*

.hg*
.jenkins*
.vscode/*
devtools
.idea/*
.env
install_*.log
tmp_b*
med_aster_module.c.1.dll.manifest
tmp_blink.bat