filter = bibc/
filter = bibcxx/
filter = bibfor/
exclude = bibcxx/PythonBindings/

sort-uncovered = yes
exclude-unreachable-branches = yes
gcov-parallel = 8

# these paths are used by 'waf_debug'
search-path = build/mpidebug/debug/bibc/
search-path = build/mpidebug/debug/bibcxx/
search-path = build/mpidebug/debug/bibfor/

print-summary = yes
txt = build/mpidebug/debug/coverage.txt
html-details = build/mpidebug/debug/coverage.html
sonarqube = build/mpidebug/debug/coverage.xml
