:: created by waf using data/wscript

:: IF CONDA_PREFIX is defined, use CONDA_PREFIX

if defined CONDA_PREFIX set ASTER_ROOT=%CONDA_PREFIX%

set PYTHONPATH=%ASTER_ROOT%\@BASE_PREFIX@\lib\aster;%ASTER_ROOT%\lib\site-packages;%PYTHONPATH%

set ASTER_DATADIR=%ASTER_ROOT%\@BASE_PREFIX@\share\aster
set ASTER_LIBDIR=%ASTER_ROOT%\@BASE_PREFIX@\lib\aster
set ASTER_LOCALEDIR=%ASTER_ROOT%\@BASE_PREFIX@\share\locale\aster
set ASTER_ELEMENTSDIR=%ASTER_ROOT%\@BASE_PREFIX@\lib\aster