# created by waf using data/wscript

# to avoid recursive calls
if [ ! -z "${ASTER_PROFILE_LOADED}" ]; then
    return
fi

# RUNASTER_ROOT is usually set by run_aster
: ${RUNASTER_ROOT:=@PREFIX@}

@BUILD_ENV@
@OPT_ENV@

remove_path()
{
    # usage: remove_path value pattern1 [pattern2 [...]]
    #     Returns the 'value' with excluding the given patterns.
    #     Example of use: export PATH=$(remove_path "${PATH}" ${HOME}/local)
    if [ ${#} -lt 2 ]
    then
        echo ${1}
        return
    fi
    local values=${1}
    shift

    local i
    for i in ${@}
    do
        values=$(echo ${values} | tr ":" "\n" | grep -v -F ${i} | tr "\n" ":" | sed -e "s%:\+%:%g;s%^:%%g;s%:$%%g")
    done

    echo ${values}
}

export LD_LIBRARY_PATH=${RUNASTER_ROOT}/@RELATIVE_LIBDIR@:${LD_LIBRARY_PATH}:.

# Exclude paths to 'python2.7'.
PYTHONPATH=$(remove_path "${PYTHONPATH}" python2.7)

export PYTHONPATH=${RUNASTER_ROOT}/@RELATIVE_LIBDIR@:${PYTHONPATH}:.

# Better to set PATH rather PYTHONHOME - more stable
# PYTHONHOME will be deduced from python executable location
export PATH=@PYTHON_DIRNAME@:${PATH}

export ASTER_LIBDIR=${RUNASTER_ROOT}/@RELATIVE_LIBDIR@

export ASTER_DATADIR=${RUNASTER_ROOT}/@RELATIVE_DATADIR@

export ASTER_LOCALEDIR=${RUNASTER_ROOT}/@RELATIVE_LOCALEDIR@

export ASTER_ELEMENTSDIR=${RUNASTER_ROOT}/@RELATIVE_LIBDIR@

@OPT_ENV_FOOTER@

# to avoid recursive calls
export ASTER_PROFILE_LOADED=1
